// fuentes
$fuentePrincipal: 'Roboto', sans-serif;

// Media Queries
$telefono: 468px;
$tablet: 768px;
$desktop: 1024px;

// colores
$gris: #bbb;
$primario: #E8505B;
$negro: #000;

// gap
$separacion: 2rem;